.searchform {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.songs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 5px;
}

.song {
	background-color: #333;
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.song .left {
	padding: 15px;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
}

.song .left .modcontainer {
	position: relative;
}

.song .left .mod {
	width: 32px;
	height: 32px;
}

.song .left .modanchor {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 14px;
	height: 14px;
}

.song .left .meta {
	display: flex;
	flex-direction: column;
}

.song .left .meta .name {
	margin: 0px;
	word-break: break-all;
}

.song .right {
	padding: 15px;
	margin-left: auto;
	display: flex;
	flex-direction: column;
	align-items: right;
	justify-content: center;
}

.song .right .author {
	margin: 0px;
}

.actions {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.song .actions {
	gap: 5px;
	padding: 5px;
	height: 69px;
}

.actions .action img {
	width: 16px;
	height: 16px;
}

.actions .delete img { background: url('/assets/icons.png') -32px -16px; }
.actions .edit   img { background: url('/assets/icons.png') 0px -16px; }

.actions .action {
	flex: 1;
	flex-basis: 15px;
	display: flex;
	align-items: center;
	background-color: #444;
	padding: 4px;
}

.song {
	width: 100%;
}
