
.submitform {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.songdesc {
	height: 200px;
	resize: none;
}

.songdata {
	height: 100px;
	resize: none;
}

.remix-container {
	display: flex;
	flex-direction: row;
	gap: 5px;
	align-items: center;
}

.remix-container .name {
	width: 200px;
	height: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}