
.viewsong {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 20px;
}

.viewsong .head {
	display: flex;
	flex-direction: column;
}
.viewsong .head .title {
	display: flex;
	flex-direction: row;
	gap: 10px;
	overflow: hidden;
	word-break: break-word;
	width: 600px;
}

.viewsong .head .title .author {
}


.viewsong .head .title .modcontainer {
	position: relative;
}

.viewsong .head .title .mod {
	width: 32px;
	height: 32px;
}

.viewsong .head .title .modanchor {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 14px;
	height: 14px;
}

.viewsong .head .title h2 {
	margin: 0px;
}

.viewsong .bio {
	margin-left: 15px;
	border-left: 5px solid #333;
	padding-left: 10px;
	
	word-break: break-word;
	width: 600px;
}

.viewsong .stats {
	display: flex;
	flex-direction: row;
}

.viewsong .stat {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.viewsong .stat p {
	margin-left: 10px;
}

.viewsong .stat .icon {
	width: 32px;
	height: 32px;
}

.viewsong .stat .interact {
	width: 16px;
	height: 16px;
}

.comments {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.comment {
	display: flex;
	flex-direction: row;
}

.comment .pfp {
	width: 128px;
	height: 128px;
}

.comment .content {
	display: flex;
	flex-direction: column;
	padding: 10px;
	border: 2px solid #333;
	flex: 1;
}

.comment .content .info {
}

.comment .content .interact {
	margin-top: auto;
}

.comment .content .info .poster {
	margin: 0px;
	font-weight: bold;
	font-size: 1.2em;
}

.comment .content .text {
	margin: 10px;
	margin-left: 15px;
	border-left: 5px solid #333;
	padding-left: 10px;
}

.replies {
	padding-left: 10px;
	margin-left: 20px;
	border-left: 5px solid #333;
}

.submit-comment {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	gap: 5px;
}

.submit-comment .markdown {
	position: absolute;
	right: 10px;
	top: 10px;
}

.submit-comment .content {
	height: 200px;
}
