{% set userconfig = cookies.user_config | fromjson %}

<!DOCTYPE html>

<html>
	<head>
		<title>{% block title %}{% endblock %} - beepboard</title>
		<meta charset="UTF-8">
		<meta name="description" content="a bulletin board for beepbox songs">
		<meta name="keywords" content="beepbox, ultrabox, bulletin board, songs, social network,
		chiptune, instrumental, music, song, melody, composition, tool, free, online, square wave, NES, NSF, ultrabox, beepbox, jummbox, pandorasbox, modbox, sandbox, goldbox, wackybox, todbox">
		<meta name="application-name" content="beepboard">
		<meta name="author" content="fmixolydian">
		<title>beepboard</title>
		

		<style>
			{% include 'style.css' %}
			{% include ('themes/' + userconfig.theme + '.css') %}
		</style>

		<script src="https://cdn.jsdelivr.net/npm/imperative-html@0.1/dist/global/elements.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/ziggurat.js@0.5.1/build/ziggurat.js"></script>
		
		{% block head %}{% endblock %}
		
		{# global data #}
		
		{% 
			set MODS = {
				"abyssbox":     {'url': 'https://choptop84.github.io/abyssbox-app/'},
				"beepbox":      {'url': 'https://www.beepbox.co'},
				"cardboardbox": {'url': 'https://hidden-realm.github.io/cardboardbox/'},
				"goldbox":      {'url': 'https://aurysystem.github.io/goldbox/'},
				"jummbox":      {'url': 'https://jummb.us'},
				"lemmbox":      {'url': 'https://lemmbox.github.io/'},
				"modbox":       {'url': 'https://moddedbeepbox.github.io/3.0/'},
				"pandorasbox":  {'url': 'https://paandorasbox.github.io/'},
				"sandbox":      {'url': 'https://fillygroove.github.io/sandbox-3.1/'},
				"slarmoosbox":  {'url': 'https://slarmoo.github.io/slarmoosbox/website/'},
				"ultrabox":     {'url': 'https://ultraabox.github.io/'},
				"wackybox":     {'url': 'https://bluecatgamer.github.io/Wackybox/'}
			}
		%}
		
		{% 
			set BADGES = {
				"owner":     {'name': 'Owner',       'desc': 'the owner of beepboard (fmixolydian)'},
				"trial":     {'name': 'Trial Mod',   'desc': 'a moderator on trial'},
				"moderator": {'name': 'Moderator',   'desc': 'a user who moderates the site'},
				"admin":     {'name': 'Admin',       'desc': 'a user who develops and moderates the site'},
				"veteran":   {'name': 'Veteran',     'desc': 'a user who created an account before version 0.5'}
			}
		%}
	</head>

	<body>
		<img class="background" src="/assets/trans.png">
		<form name="logout_form" action="/api/v1/Account/logout" method="post"></form> <!-- gosh darn it html -->
		
		<div class="page">
		<header>
			<div class="left">
				<h1>beepboard</h1>
				<p>0.7.1</p>
				<p class="account-text">
				  {% if myself %}
				  	<a onclick="document.logout_form.submit()" href="javascript:void(0)">Logout</a>
				  {% else %}
				  	<a href="/Account/login">Login</a> or <a href="/Account/register">Register</a>
				  {% endif %}
				</p>
			</div>
			
			<div class="right">
				<p>
				{% if not myself %}
					You&apos;re not logged in.
				{% else %}
					Hello, <strong><a href="/User/{{myself.id}}">{{ myself.username }}</a></strong>!
				{% endif %}
				</p>
			</div>
		</header>
		
		<nav>
			<div class="links">
				<a href="/">             <div class="link orange">  <img class="icon" src="/assets/trans.png"> home  </div></a>
				<a href="/Jams">         <div class="link red">     <img class="icon" src="/assets/trans.png"> jams  </div></a>
				<a href="/User/list">    <div class="link magenta"> <img class="icon" src="/assets/trans.png"> users </div></a>
				<a href="/Song/list">    <div class="link purple">  <img class="icon" src="/assets/trans.png"> songs </div></a>
				{# <a href="/Wiki/MainPage"><div class="link blue">    <img class="icon" src="/assets/trans.png"> wiki  </div></a> #}
			</div>
		</nav>
		
		<div class="content">
			
			<aside>
				<article>
					<h2 class="title">quick links</h2>
					
					<ul class="links">
						{# <li><a href="https://tools.beepboard.xyz">beeptools</a></li> #}
						<li><a href="/Song/submit">submit a song</a></li>
						<li><a href="/Profile/edit">edit your profile</a></li>
						<li><a href="/settings">settings</a></li>
					</ul>
				</article>
			</aside>

			<main>
				{% block main %}
				{% endblock %}
			</main>
		</div>
		
		<footer>
			<p>(c) fmixolydian 2025 - licensed under AGPL3.0</p>
		</footer>
		</div>
	</body>
</html>

<script>
	const DEFAULT_CONFIG = {
		"theme": "default-dark"
	};

	function mirror_to_cookie(...args) {
		console.log("mirror to cookie")
		zg.mirror_to_cookie(...args)
	}

	let CONFIG = new zg.mirror("user_config",
							zg.load_json_cookie("user_config") ?? DEFAULT_CONFIG,
							[mirror_to_cookie],
							{"max-age": 6..months().floor(),
								"path": "/"}
							);

	zg.init();
</script>

{% block scripts %}
{% endblock %}
