<!DOCTYPE html>

<html>
	<head>
		<title>{% block title %}{% endblock %} - beepboard</title>
		<meta charset="UTF-8">
		<meta name="description" content="a bulletin board for beepbox songs">
		<meta name="keywords" content="beepbox, ultrabox, bulletin board, songs, social network,
		chiptune, instrumental, music, song, melody, composition, tool, free, online, square wave, NES, NSF, ultrabox, beepbox, jummbox, pandorasbox, modbox, sandbox, goldbox, wackybox, todbox">
		<meta name="application-name" content="beepboard">
		<meta name="author" content="fmixolydian">
		<title>beepboard</title>
		<link rel="stylesheet" href="/style.css">
		<script src="https://cdn.jsdelivr.net/npm/imperative-html@0.1/dist/global/elements.min.js"></script>
		
		<style>
			html, body {
				background-color: #220026;
			}
		</style>
		
		{% block head %}{% endblock %}
	</head>
	
	<body>
		<form name="logout_form" action="/api/v1/Account/logout" method="post"></form> <!-- gosh darn it html -->
		<header>
			<div class="left">
				<h1>beepboard</h1>
				<p>0.5.1</p>
				<!--
				<search>
					<input type="text">
					<img src="/assets/search.png">
				</search>
				--->
				<!--- pst... site wide search is for 0.6! --->
				<p class="account-text">
				  {% if myself %}
				  	<a onclick="document.logout_form.submit()" href="javascript:void(0)">Logout</a>
				  {% else %}
				  	<a href="/Account/login">Login</a> or <a href="/Account/register">Register</a>
				  {% endif %}
				</p>
			</div>
			
			<div class="right">
				<p>
{% if not myself %}
	You're not logged in.
{% else %}
	Hello, <strong><a href="/User/{{myself.id}}">{{ myself.username }}</a></strong>!
{% endif %}
</p>
			</div>
		</header>
		
		<nav>
			<div class="links">
				<div class="link orange">  <img class="icon" src="/assets/trans.png"> <a href="/">home</a>              </div>
				<div class="link red">     <img class="icon" src="/assets/trans.png"> <a href="/Jams">jams</a>          </div>
				<div class="link magenta"> <img class="icon" src="/assets/trans.png"> <a href="/Users">users</a>        </div>
				<div class="link purple">  <img class="icon" src="/assets/trans.png"> <a href="/Songs">songs</a>        </div>
				<div class="link blue">    <img class="icon" src="/assets/trans.png"> <a href="/Wiki/MainPage">wiki</a> </div>
			</div>
		</nav>
		
		<div class="content">
			<aside>
				<article>
					<div class="item">
						<p>placeholder</p>
					</div>
				</article>
			</aside>
			<main>
				{% block main %}
				{% endblock %}
			</main>
		</div>
		
		<footer>
			<p>(c) fmixolydian 2025 - licensed under AGPL3.0</p>
		</footer>
	</body>
</html>