{% extends "base.html" %}

{% block title %} index {% endblock %}

{% block aside %}
		
{% endblock %}

{% block main %}
<article>
	<h1>Welcome to Beepboard!</h1>
	<p>Beepboard is a site where users can share beepbox songs, make playlists,
		and check the status of the Beepbox radio run by Impasaurus.</p>
	
	<p>It is still in development, and new features are being added every day.</p>
	
	<p>We also recommend you join <a href="https://discord.gg/fdZxm5SpAn">the beepbox discord server</a>,
		where you can talk with other people who make chiptunes such as those found here.</p>
		
</article>
{% endblock %}