{% extends "base.html" %}

{% block title %} login {% endblock %}

{% block head %}
	<link rel="stylesheet" href="/styles/login.css">
{% endblock %}

{% block main %}
	<article>
		<h2>login</h2>
		<form action="/api/v1/Account/login" method="POST">
		
			<div class="loginform">
				<div class="form-item">
					<label class="flex-u1" for="username">username</label>
					<input class="flex-u3" type="text" name="username">
				</div>
				
				<div class="form-item">
					<label class="flex-u1" for="password">password</label>
					<input class="flex-u3" type="password" name="password">
				</div>
				
				<button>LOGIN</button>
				
				<small>if you get locked out of your account,
					shoot me (<strong>@fmixolydian</strong>) a discord DM
					and i'll reset the password for you.
				</small>
			</div>
			
		</form>
	</article>
{% endblock %}