{% extends "base.html" %}

{% block title %} settings {% endblock %}

{% block head %}
	<link rel="stylesheet" href="/styles/form.css">
{% endblock %}

{% block main %}
<article>
	<h2>personal settings</h2>
	<form id="settings" zg-submit="save_settings">
		<div>
			<div class="form-item">
				<label class="flex-u1" for="username">theme</label>
				<select class="flex-u3" name="theme">
					<option value="default-dark"> Purpur </option>
					<option value="beepbox"> Beepbox </option>
				</select>
			</div>

			<button>SAVE</button>
		</div>
	</form>
</article>
{% endblock %}

{% block scripts %}
	<script>
		function save_settings(data) {
			for (let k in CONFIG.v) CONFIG.v[k] = data[k];
			console.log(CONFIG.v)
			CONFIG.update();
			window.location.reload();
		}

		let form = zg.formdata(zg.queryone("#settings"));
		console.log(CONFIG.v, form)
		for (let k in CONFIG.v) form[k] = CONFIG.v[k]
	</script>
{% endblock %}
