{% extends "base.html" %}

{% block title %} song list {% endblock %}

{% block head %}
	<link rel="stylesheet" href="/styles/songs.css">
{% endblock %}

{% block main %}
<article>
	<h2>Songs</h2>
	<form name="form" action="/Songs" onsubmit="return prepare_search(this)">
		<div class="searchform">
			<div class="sortby">
				<p class="title">Sort by</p>
				<div class="options">
				
					<input class="sort" {{ 'checked' if GET.sort == 'popular' else ''}}
						id="sortPopular" type="radio" name="sort" value="popular"/>
					<label for="sortPopular">popular</label>
					
					<input class="sort" {{ 'checked' if GET.sort == 'newest' else ''}}
						id="sortNewest" type="radio" name="sort" value="newest"/>
					<label for="sortNewest">newest</label>
					
				</div>
				<div class="queries">
					<input name="q" type="text" placeholder="search by name" class="query" value="{{GET.q}}"/>
					<input name="author" type="text" placeholder="search by author" class="query" value="{{GET.author}}"/>
				</div>
			</div>
			<div class="formtags">
				<p class="title">Tags</p>
				<div class="tags">
					<div class="left" id="tags">
					</div>
					<div class="right">
						<input type="text" placeholder="tag name" id="tagname">
						<button type="button" onclick="add_tag()">+</button>
					</div>
				</div>
			</div>
			<input type="hidden" name="tags"> <!-- tags are computed onsubmit-->
			<button>SEARCH</button>
		</div>
	</form>
	
	
	<div class="songs">
		{% for song in songs %}
			<div class="song">
				<div class="left">
					<a target=_blank href="/Song/{{song.id}}/play">
						<img class="mod" src="/assets/mods/{{song.content.url.mod}}.png"></img>
					</a>
					<div class="meta">
						<p class="name">
							<a href="/Song/{{song.id}}">{{ song.content.name }}</a>
						</p>
						<div class="songtags">
							{% if song.content.tags %}
								{{ ' · '.join(song.content.tags.split(',')) }}
							{% else %}
								(no tags)
							{% endif %}
						</div>
					</div>
				</div>
				<div class="right">
					<p class="author">
						 by <a href="/User/{{song.author.id}}">{{ song.author.username }}</a>
					</p>
					<small>
						{{ song.created.date }}
						· {{ song.stats.likes  }} likes
						· {{ song.stats.clicks }} clicks
						· {{ song.stats.views  }} views
					</small>
				</div>
			</div>
		{% else %}
			<p><em>no songs found ¯\_(ツ)_/¯</em></p>
		{% endfor %}
	</div>
	
	<p class="text-centered">
		<a href="{{
'/Songs?sort=' + GET.sort
               + ('&q='      + GET.q)
               + ('&author=' + GET.author)
               + ('&tags='   + GET.tags)
               + ('&limit='  + (GET.limit | string))
               + ('&after='  + [GET.after | int - GET.limit, 0] | max | string)
}}">&lt;</a>
		page {{ (GET.after | int) // GET.limit + 1}}
		<a href="{{
'/Songs?sort=' + GET.sort
               + ('&q='      + GET.q)
               + ('&author=' + GET.author)
               + ('&tags='   + GET.tags)
               + ('&limit='  + (GET.limit | string))
               + ('&after='  + ((GET.after | int + GET.limit) | string))
}}">&gt;</a>

	</p>
	
	<script>
		html_tags = document.getElementById('tags');
		html_tagname = document.getElementById('tagname')
		function add_tag() {
			if (html_tagname.value.length > 2) {
				html_tags.appendChild(
					HTML.p(
						html_tagname.value.trim().toLowerCase(),
						HTML.sup(
							'x',
							{'class': 'delete',
							 'onclick': 'this.parentNode.remove()'}
						),
						{'class': 'tag'}
					)
				);
				html_tagname.value = "";
			} else {
				alert("Tag is too short! Minimum length: 3");
			}
		}
		
		function prepare_search(form) {
			data = new FormData(form)
			
			let tags = "";
			for (let tag of html_tags.children) {
				tags += tag.childNodes[0].data + ",";
			}
			
			tags = tags.slice(0, -1)
			
			document.form.tags.value = tags
			
			console.log(tags)
			
			return true
		}
	</script>
</article>
{% endblock %}