{% extends "base.html" %}

{% block title %} submit song {% endblock %}

{% block head %}
	<link rel="stylesheet" href="/styles/submit-song.css">

	<zg-template id="tp_tag" hidden>
		<p class="tag">${this}<sup class="delete" onclick="this.parentNode.remove()">x</sup></p>
	</zg-template>

{#
html_tags.appendChild(
					HTML.p(
						html_tagname.value.trim().toLowerCase(),
						HTML.sup(
							'x',
							{'class': 'delete',
							 'onclick': 'this.parentNode.remove()'}
						),
						{'class': 'tag'}
					)
				);
				html_tagname.value = "";
#}

{% endblock %}

{% block main %}
<article>
	<div class="submit">
		<h2>submit song</h2>
		<form id="song-form" zg-submit="song_submit_form">
		
			<div class="submitform">
				<div class="form-item">
					<label class="flex-u1" for="type">song type</label>
					<select class="flex-u3 songtype" name="type" id="type" oninput="update_songtype(this)">
						<option value="original">original</option>
						<option value="remix"
							title="remix of a different song on beepboard; you must provide the song's ID (song #...)">remix</option>
						<option value="cover"
							title="cover of a different song, outside of beepboard; you must provide a link to the original song in the description.">cover</option>
					</select>
				</div>
				
				<zg-when name="song-type" script="this == 'remix'" hidden>
					<div class="form-item" id="remixof">
						<label class="flex-u1" for="remixof">remix of</label>
						<div class="remix-container flex-u3">
							song #
							<input onchange="update_remixname(this)" type="number" name="remixof" min=1 placeholder="song id">
							<a class="name" id="remixof_name"></a>
						</div>
					</div>
				</zg-when>
				
				<div class="form-item">
					<label class="flex-u1" for="title">song title</label>
					<input class="flex-u3" placeholder="song title" minlength=3 maxlength=100 type="text" name="title">
				</div>
				
				<div class="form-item">
					<label class="flex-u1" for="desc">description</label>
					<textarea maxlength=1000 class="flex-u3 songdesc" name="desc"></textarea>
				</div>
				
				<input type="hidden" name="data" id="data">
				<input type="hidden" name="songmod" id="songmod">

				<div class="form-item">autodetected mod: <b><zg-bind script="MODS[this]?.name ?? 'Unknown'" name="song-mod"></zg-bind></b></div>
				
				<div class="form-item">
					<label class="flex-u1" for="songurl">song url <small title="full song URL in song editor (no song player, no link shorteners)">(?)</small></label>
					<textarea oninput="update_mod()" class="flex-u3 songdata" name="songurl" id="songurl"></textarea>
				</div>
				
				<div class="formtags">
					<p class="title">Tags</p>
					<div class="tags">
						<zg-multibind name="tags" class="left"></zg-multibind>
						<div class="right">
							<input type="text" placeholder="tag name" id="tagname">
							<button type="button" onclick="add_tag()">+</button>
						</div>
					</div>
				</div>
				
				<button>SUBMIT</button>
			</div>
			
			<input type="hidden" name="tags"> <!-- tags are computed onsubmit-->
			
			<div class="upload-error">
				<zg-bind >
			</div>

		</form>
	</div>
</article>
{% endblock %}

{% block scripts %}
	<script>
		let song_mod  = new zg.mirror("song-mod",  "", [zg.mirror_to_document])
		let song_type = new zg.mirror("song-type", "", [zg.mirror_to_document])
		let tags      = new zg.multimirror("tags", "tp_tag")

		function get_submit_form() {
			return zg.formdata(zg.queryone("#song-form"))
		}

		function update_mod() {
			song_mod.v = ""
			for (let mod in MODS) {
				if (get_submit_form().songurl.startsWith(MODS[mod].url)) {
					song_mod.v = mod
					break;
				}
			}
		}

		function update_songtype() {
			song_type.v = get_submit_form().type
		}

		function add_tag() {
			let tag = zg.queryone("#tagname")
			tags.push(tag.value)
			tag.value = ""
		}

		function song_submit_form(form) {
			form.data = form.songurl.split('#')[1]
			let data = form.toObject()

			fetch("/api/v1/Song/submit", {
				method: "POST",
				headers: {
					'Content-Type': 'application/json'
				},
				body: data
			}).catch((reason) => {

			}).then((response) => {
				window.location =
			})
		}
	</script>
{% endblock %}
{#<script>
		html_tags = document.getElementById('tags');
		html_tagname = document.getElementById('tagname')
		
		function update_remixname() {
			let remixname = document.getElementById('remixof_name');
			let remixof   = document.form.remixof.value;
			
			var http = new XMLHttpRequest();
			http.onreadystatechange = function() {
				if (this.readyState == 4) {
					switch (this.status) {
						case 200:
							data = JSON.parse(this.responseText)
							console.log(data)
							remixname.innerText = data.content.name
							remixname.href      = "/Song/" + data.id
							break;
						
						case 400:
						case 403:
						case 404:
							remixname.innerText = ""
							console.log("no such song #" + remixof);
							break;
					}
					
				}
			}
			
			http.open("GET", "/api/v1/Song/" + remixof, true);
			http.send();
		}
		
		update_remixname();
		
		function update_songtype() {
			let isaremix = (document.form.type.value == 'remix')
			document.getElementById('remixof').style = isaremix ? "" : "position: absolute; visibility: hidden"
		}
		
		update_songtype(); // quick hack to hide remixof when page is loaded (fuck you javascript)
		
		function add_tag() {
			if (html_tagname.value.length > 2) {
				html_tags.appendChild(
					HTML.p(
						html_tagname.value.trim().toLowerCase(),
						HTML.sup(
							'x',
							{'class': 'delete',
							 'onclick': 'this.parentNode.remove()'}
						),
						{'class': 'tag'}
					)
				);
				html_tagname.value = "";
			} else {
				alert("Tag is too short! Minimum length: 3");
			}
		}
		
		function prepare_submit(form) {
			data = new FormData(form)
			
			// tags
			let tags = "";
			for (let tag of html_tags.children) {
				tags += tag.childNodes[0].data + ",";
			}
			
			tags = tags.substring(0, tags.length - 1)
			
			document.form.tags.value = tags
			
			if (document.form.songurl.value.startsWith('https://tinyurl.com') ||
			    document.form.songurl.value.startsWith('https://pastelink.net')
			    ) {
				alert('url shorteners are not supported')
				return false
			}
			
			// song data & mod
			song = document.form.songurl.value.split('#')
			
			if (song[1] == undefined) {
				alert('malformed song url')
				return false;
			}
			
			document.form.data.value = song[1];
			
			if (document.form.title.value.length < 3)    {alert('song title is too short');      return false}
			if (document.form.title.value.length > 100)  {alert('song title is too long');       return false}
			if (document.form.desc.value.length  > 1000) {alert('song description is too long'); return false}
			if (html_tags.children.length        > 8)    {alert('too many tags');                return false}
			
			return true
		}
	</script>#}
