{% extends "base.html" %}

{% block title %} user list {% endblock %}

{% block head %}
	<link rel="stylesheet" href="/styles/users.css">
{% endblock %}

{% block main %}
<article>
	<h2>Users</h2>
	<form action="/Users">
		<div class="flex-vertical">
			<div class="sortby">
				<p class="title">Sort by</p>
				<div class="options">
					
					<input class="sort" {{ 'checked' if GET.sort == 'popular' else ''}}
						id="sortPopular" type="radio" name="sort" value="popular"/>
					<label for="sortPopular">popular</label>
					
					<input class="sort" {{ 'checked' if GET.sort == 'newest' else ''}}
						id="sortNewest" type="radio" name="sort" value="newest"/>
					<label for="sortNewest">newest</label>
					
				</div>
				<div class="queries">
					<input name="q" type="text" placeholder="search by name" class="query"/>
				</div>
			</div>
			<button>SEARCH</button>
		</div>
	</form>
	<div class="users">
		{% for user in users %}
			<div class="user">
				<img class="pfp" src="{{ user.profile.pfp }}">
				<div class="data">
					<h3><a href="/User/{{ user.id }}">{{ user.username }}</a></h3>
					<p>other info</p>
				</div>
				<div class="footer">
					<p><small>
					{{ user.created.date }} ·
					user id {{ user.id }} </small></p>
				</div>
			</div>
		{% else %}
			<p><em>no users found ¯\_(ツ)_/¯</em></p>
		{% endfor %}
	</div>
</article>
{% endblock %}