{% extends "base.html" %}

{% block title %} song {{song.name}} {% endblock %}

{% block head %}
	<link rel="stylesheet" href="/styles/view-song.css">
{% endblock %}

{% block main %}
<article>
	{% if song %}
		<div class="viewsong">
			<div class="head">
				<div class="title">
					<a target=_blank href="/Song/{{song.id}}/play" class="modcontainer">
						<img class="mod" src="/assets/mods/{{song.content.url.mod}}.png">
						<img class="modanchor" src="/assets/mods/link.png">
					</a>
					<h2>{{song.content.name}}
						<br>
						<small>
							by <a href="/User/{{song.author.id}}"><em>{{song.author.username}}</em></a> ·
							{{song.created.date}} ·
							song #{{song.id}} ·
							{% if song.type == 'original' %}
								original
							{% elif song.type == 'remix' %}
								remix of #<a href="/Song/{{song.base}}">{{song.base}}</a>
							{% elif song.type == 'cover' %}
								cover
							{% else %}
								??? {{song.type}}
							{% endif %}
						</small>
					</h2>
				</div>
			</div>
			
			<div class="bio">
				{{ song.content.desc.html | safe}}
			</div>
			
			<div class="stats">
				<div class="stat">
					<img class="icon"     src="/assets/likes.png">
					{% if myself and not has_interacted %}
						<a href="/Song/{{song.id}}/upvote">
							<img class="interact" src="/assets/upvote.png">
						</a>
					{% else %}
						<a href="/Song/{{song.id}}/downvote">
							<img class="interact" src="/assets/downvote.png">
						</a>
					{% endif %}
					<p>{{song.stats.likes}}</p>
				</div>
				<div class="stat">
					<img class="icon"     src="/assets/clicks.png">
					<p>{{song.stats.clicks}}</p>
				</div>
				<div class="stat">
					<img class="icon"     src="/assets/views.png">
					<p>{{song.stats.views}}</p>
				</div>
			</div>
			
			<h2>Comments</h2>
			
			<div class="comments">
				{% for comment in song.comments recursive %}
					<div class="comment">
						<input type="hidden" class="id" value="{{comment.id}}">
						
						<img class="pfp" src="{{comment.user.profile.pfp.url}}">
						<div class="content">
							<div class="info">
								<p class="poster">
									<a href="/User/{{comment.user.id}}">{{comment.user.username}}</a>
								</p>
								<small class="misc">
									{{comment.created.date}} ·
									comment #{{comment.id}}
								</small>
							</div>
							
							<div class="text">
								{{comment.content.html | safe}}
							</div>
							
							<div class="interact">
								<small>
									{% if myself %}
										<a href="javascript:void(0)"
											onclick="comment_box(this.closest('.comment'))">
											add reply
										</a>
										
										{% if comment.user.id == myself.id %}
											· <a href="/api/v1/Comment/{{comment.id}}/delete"
											     onclick="return confirm('Are you sure you want to delete your comment?')">
												delete
											</a>
										{% endif %}
									{% endif %}
								</small>
							</div>
						</div>
					</div>
					 
					<div class="replies">
						<div class="comments">
							{{ loop(comment.replies) }}
						</div>
					</div>
				{% endfor %}
			</div>
			
			{% if myself %}
				<form action="/api/v1/Song/{{song.id}}/comment" class="submit-comment" method="post">
					<input type="hidden" name="parent" value="">
					<textarea class="content" name="content" value=""></textarea>
					<img title="supports markdown :]" class="markdown" src="/assets/trans.png">
					<button>Post comment</button>
				</form>
			{% else %}
				<p>You need to <a href="/Account/login">login</a> to post comments and replies.</p>
			{% endif %}
		</div>
	{% else %}
		<p>Song not found.</p>
	{% endif %}
	
	<script>
		function comment_box(e) {
			if (e.nextElementSibling.querySelector('.submit-comment')) {
				e.nextElementSibling.querySelector('.submit-comment').remove()
			} else {
				e.nextElementSibling.appendChild(HTML.form(
					{'action': '/api/v1/Song/{{song.id}}/comment',
					 'class': 'submit-comment',
					 'method': 'post'},
					
					HTML.input(
						{'type': 'hidden',
						 'name': 'parent',
						 'value': e.querySelector('.id').value
						}
					),
					
					HTML.textarea(
						{'class': 'content',
						 'name': 'content',
						 'value': ''
						}
					),
					
					HTML.img(
						{'title': 'supports markdown :]',
						 'class': 'markdown',
						 'src': '/assets/trans.png'
						}
					),
					
					HTML.button(
						'Post comment'
					)
				))
			}
			/*e.appendChild(HTML.p('eiaobul'))*/
		}
	</script>
</article>
{% endblock %}