{% extends "base.html" %}

{% block title %} song {{song.name}} {% endblock %}

{% block aside %}
		
{% endblock %}

{% block main %}
<article>
	{% if song %}
		<div class="viewsong">
			<div class="head">
				<div class="title">
					<a href="/Song/{{song.id}}/play">
						<img class="mod" src="/assets/mods/{{song.content.url.mod}}.png">
					</a>
					<h2>{{song.content.name}}
						<br><small> by <em>{{song.author.username}}</em> · {{song.created.date}}</small>
					</h2>
				</div>
			</div>
			
			<div class="bio">
				{{ song.content.desc.html | safe}}
			</div>
			
			<div class="stats">
				<div class="stat">
					<img class="icon"     src="/assets/likes.png">
					{% if userdata and not has_interacted %}
						<a href="/Song/{{song.id}}/upvote">
							<img class="interact" src="/assets/upvote.png">
						</a>
					{% else %}
						<a href="/Song/{{song.id}}/downvote">
							<img class="interact" src="/assets/downvote.png">
						</a>
					{% endif %}
					<p>{{song.stats.likes}}</p>
				</div>
				<div class="stat">
					<img class="icon"     src="/assets/views.png">
					<p>{{song.stats.views}}</p>
				</div>
				<div class="stat">
					<img class="icon"     src="/assets/downloads.png">
					<p>{{song.stats.clicks}}</p>
				</div>
			</div>
		</div>
	{% else %}
		<p>Song not found.</p>
	{% endif %}
</article>
{% endblock %}