{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" href="/styles/view-user.css">
	<link rel="stylesheet" href="/styles/badges.css">
	<link rel="stylesheet" href="/styles/songs.css">
	<link rel="stylesheet" href="/styles/playlists.css">
{% endblock %}

{% block title %} user {{user.username}} {% endblock %}

{% block main %}
<article>
	{% if user %}
		<div class="viewuser">
			<div class="head">
				<img class="pfp" src="{{ user.profile.pfp.url }}">
				<div class="desc">
					<h2>
						{{ user.username }}
						{% for badge in user.badges | sort %}<img class="badge {{badge}}"
						                                          title="{{BADGES[badge].name}} ({{BADGES[badge].desc}})"
						                                          src="/assets/trans.png">{% endfor %}
						<br>
						<small>created {{ user.created.date }} · user #{{user.id}}</small>
					</h2>
					<br>
					<small>last logged on {{ user.lastlogin.date }}</small>
					<small>views:  {{user.totalstats.views}};
						   clicks: {{user.totalstats.clicks}};
						   likes:  {{user.totalstats.likes}}</small>
					
					{% if myself %}
						<div class="actions">
							{% if myself.id == user.id %}
								<a title="edit"   href="/Profile/edit" class="action">
									<img class="edit" src="/assets/trans.png">
								</a>
							{% else %}
								<a title="report" href="/User/{{user.id}}/report" class="action">
									<img class="report" src="/assets/report.png">
								</a>
							{% endif %}
						</div>
					{% endif %}
				</div>
			</div>
			
			<div class="bio">
				{{ user.profile.bio.html | safe}}
			</div>

			<details>
				<summary>Songs
					{% if myself.id == user.id %}
						<a title="upload a song" href="/Song/submit"><img class="submit" src="/assets/trans.png"></a>
					{% endif %}
				</summary>
				
				<div class="songs">
					{% for song in songs %}
						<div class="song">
							{% if myself.id == user.id %}
								<div class="actions">
									<a class="action delete" href="/api/v1/Song/{{song.id}}/delete" onclick="return confirm('Are you sure you want to delete song \'{{song.content.name}}\' (id {{song.id}})?')">
										<img src="/assets/trans.png">
									</a>
									<a class="action edit" href="/Song/{{song.id}}/edit">
										<img src="/assets/trans.png">
									</a>
								</div>
							{% endif %}
							<div class="left">
								<a target=_blank href="/Song/{{song.id}}/play" class="modcontainer">
									<img class="mod" src="/assets/mods/{{song.content.url.mod}}.png"></img>
									<img class="modanchor" src="/assets/mods/link.png">
								</a>
								<div class="meta">
									<p class="name">
										<a href="/Song/{{song.id}}">{{ song.content.name }}</a>
									</p>
									<div class="songtags">
										{% if song.content.tags %}
											{{ ' · '.join(song.content.tags.split(','))[3:-2] }}
										{% else %}
											(no tags)
										{% endif %}
										&nbsp;
									</div>
								</div>
							</div>
							<div class="right">
								<p class="author">
									by <a href="/User/{{user.id}}">{{ user.username }}</a>
								</p>
								<small>
									{{ song.created.date }}
									· {{ song.stats.likes  }} likes
									· {{ song.stats.clicks }} clicks
									· {{ song.stats.views  }} views
								</small>
							</div>
						</div>
					{% else %}
						{% if (myself.id == user.id) and after == 0 %}
							<p><em>no songs found ¯\_(ツ)_/¯ · try <a href="/Song/submit">uploading</a> some songs!</em></p>
						{% else %}
							<p><em>no songs found ¯\_(ツ)_/¯</em></p>
						{% endif %}
					{% endfor %}
				</div>
			
				<p class="text-centered">
					<a href="{{
						'/User/' + user.id | string
										+ ('?after='  + [after | int - 5, 0] | max | string)
						}}">&lt;</a>
								page {{ (after | int) // 5 + 1}}
								<a href="{{
						'/User/' + user.id | string
										+ ('?after='  + (after | int + 5) | string)
						}}">&gt;</a>
				</p>
			</details>

			<details>
				<summary>Playlists
					{% if myself.id == user.id %}
						<a title="create a new playlist" href="/Playlist/new">
							<img class="submit" src="/assets/trans.png"></a>
					{% endif %}
				</summary>

				<div class="playlists">
					{% for playlist in playlists %}
						<div class="playlist">
							{% if myself.id == user.id %}
								<div class="actions">
									<a class="action delete" href="/api/v1/Playlist/{{playlist.id}}/delete" onclick="return confirm('Are you sure you want to delete playlist \'{{playlist.name}}\'?')">
										<img src="/assets/trans.png">
									</a>
								</div>
							{% endif %}

							<a href="/Playlist/{{playlist.id}}">
								<p class="name">{{playlist.name}}</p>
							</a>
							<small class="desc">playlist #{{playlist.id}} ·
												{{playlist.created.date}} ·
												{{playlist.songs | length}} song(s)</small>
						</div>
					{% else %}
						<p><em>no playlists found ¯\_(ツ)_/¯</em></p>
					{% endfor %}
				</div>
			</details>
		</div>
	{% else %}
		<p>User not found.</p>
	{% endif %}
</article>

{% endblock %}
