{% extends "base.html" %}

{% block title %} user {{user.username}} {% endblock %}

{% block aside %}
		
{% endblock %}

{% block main %}
<article>
	{% if user %}
		<div class="viewuser">
			<div class="head">
				<img class="pfp" src="{{ user.profile.pfp }}">
				<div class="desc">
					<h2>{{ user.username }}</h2>
					<p>Joined {{ user.created.date }}</p>
				</div>
			</div>
			{{ user.profile.bio.html | safe}}
		</div>
	{% else %}
		<p>User not found.</p>
	{% endif %}
</article>
{% endblock %}