{% extends "base.html" %}

{% block title %} index {% endblock %}

{% block head %}
{% endblock %}

{% block main %}
<article>
	<h1>Welcome to Beepboard!</h1>
		<p>You're new here, so i'll show you around.</p>
		<hr>
		<p>First of all, feel free to <a href="/Song/submit">submit</a> a song or two!</p>
		<p>You can find the link to do so in <a href="/User/{{myself.id}}">your profile</a>.</p>
		<p>Speaking of which, remember that you can customize your bio, badges, profile picture, and other stuff... all on your profile!</p>
</article>
{% endblock %}